.App {
  
  background: #ecf0f1;
 min-height: 100vh;
}
.nav
{
  width: 100%;
  height: 75px;
  background: #2c3e50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoName
{
  width: 50%;
  font-weight: 500;
 
}

.moviesBox
{
  box-sizing: border-box;
  padding: 50px;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
  background: white;
  margin: 1em auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}
.deletebtn
{
  background: #e74c3c;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  
}
.addbtn
{
  background: #2c3e50;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  flex: 1;
  border: none;
 
  width: 100%;

  outline: none;
}

.inputBox
{
  flex: 1;
  margin: 10px 0px;
}
.inputBox label
{

  display: block;
  padding: 10px 0px;
}
.inputBox .addInput
{
  padding: 10px 0px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 20px;
  -webkit-appearance: none;
  
}
.addmovieBox
{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 2em auto;
 
}
